
# holds API credentials and should never be pushed to origin repo
config/api_config.py

# holds email addresses/passwords/other information
config/email_config.py

# for any testing purposes
scratch

# pycache files
__pycache__

# vs workspace files
*.code-workspace